<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formato de Trabalho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
                </a>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="{{ url_for('projetos') }}">Projetos</a></li>
                    <li><a href="{{ url_for('sobre_mim') }}">Sobre Mim</a></li>
                    
                </ul>
            </nav>
        </div>
      </header>
    <div class="header-divider"></div>

    <main>
        <section class="intro">
            <h2>Trabalho Remoto: A Flexibilidade em Construção</h2>
            
            <div class="context">
                <p>Num mundo cada vez mais digital, o trabalho remoto tem-se destacado como uma das maiores promessas de flexibilidade. Contudo, a adaptação das empresas a este modelo ainda está em desenvolvimento. A análise dos dados sobre trabalho remoto mostra que:</p>
	            <p>A discrepância entre vagas com e sem trabalho remoto é grande. Embora o trabalho remoto seja uma tendência crescente, muitas empresas ainda hesitam em adotá-lo para todas as funções.</p>
	            <p>As empresas parecem relutantes em abraçar totalmente o modelo remoto, provavelmente devido a uma combinação de necessidade de presença física e incertezas quanto à eficácia a longo prazo.</p>
                <p>Este cenário revela um mercado em transição, onde a flexibilidade é altamente valorizada, mas ainda há um longo caminho a percorrer até que o trabalho remoto se torne a norma.</p>
   
            </div>
            
            <div class="graph-container">
                <img src="{{ url_for('static', filename='graphs/grafico2_remoto_permitido.png') }}" alt="Gráfico de Vagas por Formato de Trabalho" class="graph">
            </div>
            
            <div class="insights">
                
                <p>A coluna <em>remote_allowed</em> descreve a possibilidade de trabalho remoto nas vagas de emprego.</p>
                <p>"Não Permitido" indica que o trabalho remoto não é uma opção para a vaga, enquanto "Permitido" significa que o trabalho remoto é aceito.</p>
            </div>
        </section>

        <section class="buttons">
            <button onclick="location.href='/metadados'">  <<< Dados  </button>
            <button class="btn-back-home" onclick="location.href='/'">Voltar ao Início</button>
            <button onclick="location.href='/correlacao-visualizacao-aplicacao'">  Views vs Aplies >>> </button>
            
            
        </section>
    </main>

    <footer>
        <p>Desenvolvido por Elisa Coutinho, 2024</p>
        <p>
            <a href="https://www.linkedin.com/in/elisadrummondrc" target="_blank" rel="noopener noreferrer" class="linkedin-link">
                <img src="{{ url_for('static', filename='icons/linkedin.svg') }}" alt="LinkedIn" class="icon"> LinkedIn
            </a>  |  
            <a href="https://github.com/elisadrcoutinho" target="_blank" rel="noopener noreferrer" class="github-link">
                <img src="{{ url_for('static', filename='icons/github.svg') }}" alt="GitHub" class="icon"> GitHub
            </a>
        </p>
        
    </footer>
</body>
</html>
