<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Vagas mais Candidatas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
                </a>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="{{ url_for('projetos') }}">Projetos</a></li>
                    <li><a href="{{ url_for('sobre_mim') }}">Sobre Mim</a></li>
                    
                </ul>
            </nav>
        </div>
      </header>
    <div class="header-divider"></div>

    <main>
        <section class="intro">
            <h2>Vagas Mais Candidatas: O Mercado de Tecnologia em Alta</h2>
            
            <div class="context">
                <p>Ao olhar para as 10 vagas mais candidatas, nota-se uma clara tendência: a alta demanda e a grande concorrência, especialmente nas áreas de tecnologia e dados:</p>
                <p>Data Analyst e Software Engineer estão entre as posições mais procuradas, com milhares de candidaturas para poucas vagas.</p>
                <p>Outras áreas, como Cloud Engineer, apresentam mais vagas disponíveis do que candidaturas, o que sugere uma crescente procura por estes profissionais, mas com menos candidatos.</p>

                <p>Este padrão revela que as áreas de tecnologia estão a dominar o mercado de trabalho, com uma competição feroz pelas posições mais desejadas.</p>


   
            </div>
            
            <div class="graph-container">
                <img src="{{ url_for('static', filename='graphs/grafico6_top10_vagas_procuradas_candidatos.png') }}" alt="Gráfico de Vagas por Formato de Trabalho" class="graph">
            </div>
        </section>
        <section class="buttons">
            <button onclick="location.href='/top-10-titulos'"><<< Títulos de Vagas</button>
            <button class="btn-back-home" onclick="location.href='/'">Voltar ao Início</button>
            <button onclick="location.href='/skills-habilidades'"> Competências >>> </button>
            
        </section>
    </main>

    <footer>
        <p>Desenvolvido por Elisa Coutinho, 2024</p>
        <p>
            <a href="https://www.linkedin.com/in/elisadrummondrc" target="_blank" rel="noopener noreferrer" class="linkedin-link">
                <img src="{{ url_for('static', filename='icons/linkedin.svg') }}" alt="LinkedIn" class="icon"> LinkedIn
            </a>  |  
            <a href="https://github.com/elisadrcoutinho" target="_blank" rel="noopener noreferrer" class="github-link">
                <img src="{{ url_for('static', filename='icons/github.svg') }}" alt="GitHub" class="icon"> GitHub
            </a>
        </p>
        
    </footer>
</body>
</html>
